@import url("https://fonts.googleapis.com/css?family=Lato:400,700,900");
.main-desc h1 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2.4em;
  letter-spacing: 1px;
  color: #373737;
}

.main-desc h1 span {
  color: #009dda;
}

.main-desc h6 {
  color: #999;
  margin-top: 22px;
  line-height: 22px;
  font-size: .9em;
  letter-spacing: .8px;
}

a:hover {
  text-decoration: none;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 15px;
}

header {
  width: 99%;
  position: fixed;
  z-index: 500;
  width: 100%;
  background: #fff;
  height: 8vh;
  line-height: 8vh;
}

header #top-menu {
  padding: 0;
  margin: 0;
  border: 0;
}

header #top-menu ul li a {
  padding-right: 57px;
}

header #top-menu ul li#f {
  margin-left: 48px;
}

header #top-menu ul li.has-sub a {
  margin: 0;
}

header #top-menu ul li ul li:hover a {
  color: #fff200;
}

header #top-menu ul li ul li:hover ul li a {
  color: #fff;
}

header #top-menu ul li ul li ul li:hover a {
  color: #fff200;
  text-decoration: none;
}

header #top-menu:after, header #top-menu ul:after {
  content: '';
  display: block;
  clear: both;
}

header #top-menu ul li.hover,
header #top-menu ul li:hover {
  position: relative;
  z-index: 599;
  cursor: default;
}

header #top-menu ul, header #cssmenu li {
  list-style: none;
  margin: 0;
  padding: 0;
}

header #top-menu {
  font-family: 'Oxygen Mono', Tahoma, Arial, sans-serif;
  font-size: 1.06em;
}

header #top-menu > ul {
  *display: inline-block;
}

header #top-menu > ul > li > a {
  line-height: 8vh;
}

header #top-menu ul {
  float: left;
  position: relative;
  z-index: 597;
}

header #top-menu ul li {
  float: left;
  min-height: 1px;
  vertical-align: middle;
}

header #top-menu ul li.has-sub > a:after {
  content: '';
  margin-left: 5px;
}

header #top-menu ul li.last ul {
  left: auto;
  right: 0;
}

header #top-menu ul li.last ul ul {
  left: auto;
  right: 99.5%;
}

header #top-menu ul li:hover > ul {
  visibility: visible;
}

header #top-menu ul ul {
  text-align: left;
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 598;
  width: 100%;
  bottom: 0;
  left: 0;
  margin-top: 0;
  text-transform: none;
  min-width: 220px;
}

header #top-menu ul ul li {
  float: none;
  font-weight: normal;
  position: relative;
}

header #top-menu ul ul a:before {
  content: '>  ';
}

header #top-menu ul ul a:hover:before {
  content: '>>  ';
}

header #top-menu ul ul li:first-child > a {
  border-top: 3px solid #fff200;
}

header #top-menu ul ul li:first-child.has-sub > li:before {
  position: absolute;
  top: 50%;
  right: 15px;
  margin-top: -8px;
}

header #top-menu ul ul li:first-child:last-child > a {
  border-radius: 0 0 3px 3px;
}

header #top-menu ul ul li:first-child:last-child:hover > a {
  border-radius: 0 0 0 3px;
}

header #top-menu ul ul ul {
  top: 0;
  left: auto;
  right: -99.5%;
  border-top: 0 none;
}

header #top-menu ul ul a {
  background: rgba(0, 0, 0, 0.65);
  color: #FFF;
  border-top: 0 none;
  line-height: 150%;
  padding: 16px 15px;
}

header #top-menu a {
  display: block;
  color: #232323;
  font-family: Lato;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.64px;
}

header #top-menu a:hover {
  font-weight: 700;
  letter-spacing: 0.64px;
}

header .navigation {
  padding: 0;
  float: right;
}

header .navigation .dropdown-toggle {
  font-size: 3em;
  color: #373737;
}

header .navigation .dropdown-menu {
  width: 100%;
  top: 99%;
  margin: 0;
  text-align: center;
}

header .navigation .dropdown-menu li {
  font-size: 2.2em;
  height: 100px;
  line-height: 100px;
  border-bottom: 1px rgba(0, 0, 0, 0.1) solid;
}

header .navigation .dropdown-menu li:last-child {
  border-bottom: 0;
  height: 70px;
  line-height: 70px;
}

header .navigation .dropdown-menu li:last-child input {
  position: absolute;
  left: 0;
  width: 90%;
  border: none;
  background: none;
}

header .navigation .dropdown-menu li:last-child button {
  position: absolute;
  right: 0;
  width: 10%;
  border: none;
  background: none;
}

header .navigation .dropdown-menu li:last-child button i {
  font-size: 1.2em;
}

header .navigation .dropdown-menu li a {
  line-height: 100px;
  height: 100%;
}

header .search {
  padding-left: 0;
}

header .search #search {
  position: relative;
  vertical-align: middle;
  display: inline-block;
  width: 180px;
  background: rgba(141, 120, 183, 0.2);
  height: 30px;
}

header .search #search input[type='search'] {
  position: absolute;
  height: 30px;
  width: 150px;
  background: transparent;
  border: none;
}

header .search #search button {
  padding-right: 43px;
  line-height: normal;
  background: transparent;
  position: absolute;
  right: 0;
  width: 30px;
  height: 30px;
  border: none;
}

#banner {
  position: relative;
  padding: 23vh 0 1vh;
  background: url(../img/banner.png) no-repeat center center;
  background-size: cover;
}

#banner:before {
  content: '';
  position: absolute;
  top: 6vh;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(-71deg, rgba(80, 51, 146, 0.8) 0%, rgba(103, 58, 183, 0.8) 49%, rgba(0, 191, 243, 0.8) 100%);
  z-index: 2;
}

#banner .slider .carousel-control.left span:hover,
#banner .slider .carousel-control.right span:hover {
  opacity: .7;
  filter: alpha(opacity=70);
}

#banner .slider .header-text {
  position: absolute;
  top: 21%;
  right: auto;
  width: 96.66666666666666%;
  color: #fff;
}

#banner .slider .carousel-inner img {
  width: 100%;
  max-height: 460px;
}

#banner .slider .carousel-control .glyphicon-chevron-left,
#banner .slider .carousel-control .glyphicon-chevron-right,
#banner .slider .carousel-control .icon-prev,
#banner .slider .carousel-control .icon-next {
  position: absolute;
  top: 37%;
  z-index: 5;
  display: inline-block;
}

#banner .slider .carousel-control .glyphicon-chevron-right,
#banner .slider .carousel-control .icon-next {
  right: 40px;
}

#banner .slider .carousel-control.left,
#banner .slider .carousel-control.right {
  opacity: 1;
  filter: alpha(opacity=100);
  background-image: none;
  background-repeat: no-repeat;
  text-shadow: none;
}

#banner .slider .carousel-indicators li {
  border: 0;
  height: 8px;
  width: 8px;
  margin: 0 2px;
  background: rgba(255, 255, 255, 0.3);
}

#banner .slider .carousel-indicators .active {
  background: #fff;
}

#banner .slider .carousel-control {
  width: 0;
}

#banner .slider .carousel-control.right span {
  padding: 15px;
}

#banner .slider .carousel-control.left span {
  padding: 15px;
}

#banner .slider .carousel-control.left span,
#banner .slider .carousel-control.right span {
  background-color: rgba(255, 255, 255, 0.2);
  height: 60px;
  width: 60px;
  line-height: 27px;
  font-size: 12px;
}

#banner .slider .carousel-control .glyphicon-chevron-left,
#banner .slider .carousel-control .icon-prev {
  left: 40px;
}

#banner .slider .container {
  margin-top: 20px;
}

#banner .slider .item {
  height: 72vh;
  z-index: 3;
}

#banner .slider .slide {
  height: 100%;
}

#banner .slider .slide h1 {
  letter-spacing: 4.26px;
  font-size: 4.2em;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
}

#banner .slider .slide h1 span {
  color: #fff200;
}

#banner .slider .slide p {
  font-size: 1.1em;
  color: #fff;
  line-height: 30px;
}

#choose {
  padding: 90px 0;
}

#choose .row {
  margin-top: 85px;
  display: flex;
}

#choose .row .feature {
  position: relative;
  border: 1px solid #ebebeb;
  padding-top: 30px;
  height: 271px;
  width: 100%;
  margin: 0 17px;
  z-index: 9;
}

#choose .row .feature i {
  color: #503392;
  font-size: 4em;
  margin-bottom: 40px;
}

#choose .row .feature h5 {
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 1px;
}

#choose .row .feature h6 {
  margin-top: 23px;
  font-size: 1em;
  line-height: 1.3em;
}

#choose .row .feature .c-more {
  color: #fff;
  background: #503392;
  position: absolute;
  z-index: 10;
  bottom: 0;
  right: 0;
  height: 0;
  width: 100%;
  transition: .5s ease;
}

#choose .row .feature .c-more h5 {
  margin-top: 30px;
}

#choose .row .feature .c-more i {
  color: #fff;
  font-size: .9em;
  padding: 10px;
  margin: 22px 6px 0;
  border: 1px #fff solid;
  border-radius: 50%;
  transition: .2s ease;
}

#choose .row .feature .c-more i:hover {
  background: #fff;
  color: #503392;
}

#choose .row .feature:hover .c-more {
  height: 55%;
}

#about {
  position: relative;
  padding: 90px 0;
}

#about h1 {
  color: #009dda;
}

#about h1 span {
  color: #373737;
}

#about h5 {
  color: #373737;
  line-height: 24px;
  margin-top: 16px;
  letter-spacing: .6px;
  margin-bottom: 23px;
}

#about #progress .skill {
  width: 99%;
}

#about #progress .skill h6 {
  margin: 20px 0;
  line-height: normal;
  color: #444444;
  font-weight: bold;
  display: inline-block;
  margin-bottom: 15px;
}

#about #progress .skill .perc {
  float: right;
}

#about #progress .skill .progress {
  border: 1px #ededed solid;
  height: 9px;
  padding: 2px;
  border-radius: 0;
  background: transparent;
  box-shadow: none;
}

#about #progress .fill-bar:nth-child(1) .progress-bar {
  width: 79%;
  transition: 2s ease;
}

#about #progress .fill-bar:nth-child(2) .progress-bar {
  width: 90%;
  transition: 2s ease;
}

#about #progress .fill-bar:nth-child(3) .progress-bar {
  width: 69%;
  transition: 2s ease;
}

#about #progress .fill-bar:nth-child(4) .progress-bar {
  width: 92%;
  transition: 2s ease;
}

#about img {
  margin-top: 94px;
  position: absolute;
  width: 390px;
  left: 63%;
  opacity: 0;
}

#get-in-touch-hdr {
  padding: 50px 0 70px;
}

#get-in-touch-hdr h1 {
  color: #373737;
}

#get-in-touch-hdr h1 span {
  color: #009dda;
}

#get-in-touch {
  position: relative;
  background: #fff;
  padding: 100px 0;
}

#get-in-touch #map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 399;
}

#get-in-touch #map:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 400;
  background: rgba(0, 0, 0, 0.6);
}

#get-in-touch #contacts {
  background: rgba(0, 0, 0, 0.35);
  padding: 74px 4.6% 80px;
  margin: 0 8.5%;
  position: relative;
  z-index: 404;
}

#get-in-touch #contacts form {
  padding-right: 8%;
}

#get-in-touch #contacts form datalist option {
  padding: 20px 0;
}

#get-in-touch #contacts form datalist:hover {
  color: blue;
  background: #fff;
}

#get-in-touch #contacts form input,
#get-in-touch #contacts form textarea {
  padding: 10px 20px;
  color: #fff;
  border: none;
  border: 1px solid #fff;
  background: transparent;
  letter-spacing: .5px;
}

#get-in-touch #contacts form input {
  height: 50px;
  line-height: 50px;
  max-width: 49%;
  margin-top: 8px;
  margin-bottom: 2.4%;
}

#get-in-touch #contacts form input:first-child {
  margin-right: 2%;
}

#get-in-touch #contacts form input[type='email'] {
  max-width: 48%;
  float: right;
}

#get-in-touch #contacts form textarea {
  height: 145px;
  resize: none;
}

#get-in-touch #contacts form label {
  height: 30px;
  margin: 25px 0 0;
  line-height: 30px;
  color: #b7b7b7;
  display: inline-block;
  position: relative;
}

#get-in-touch #contacts form label input[type='checkbox'] {
  display: none;
}

#get-in-touch #contacts form label i {
  margin-right: 7px;
  vertical-align: bottom;
  position: relative;
  display: inline-block;
  width: 24px;
  height: 24px;
  border: 1px #fff solid;
  border-radius: 2px;
}

#get-in-touch #contacts form label i:before {
  position: absolute;
  content: '';
  top: 4px;
  bottom: 4px;
  left: 4px;
  right: 4px;
  background: #fff;
  opacity: 0;
  transition: .1s ease;
}

#get-in-touch #contacts form label input:checked + i:before {
  opacity: 1;
}

#get-in-touch #contacts form button {
  float: right;
  margin-top: 2.5%;
  border: none;
  padding: 15px 44px;
  background: #ffff00;
  color: #000;
}

#get-in-touch #contacts #adress p {
  margin-top: 0;
  line-height: 1.7em;
  letter-spacing: .04em;
  padding-left: 9%;
  color: #fff;
}

#get-in-touch #contacts #adress #numbers {
  margin: 20px 0;
}

footer {
  background-color: #1a1a1a;
  line-height: 6.5vh;
  height: 6.5vh;
  color: #fff;
}

footer p {
  color: #7a7a7a;
  margin: 0;
  font-size: 1.09em;
  padding-left: 15px;
  letter-spacing: .4px;
}

footer ul li {
  list-style: none;
  display: inline-block;
  float: right;
  font-size: 21px;
}

footer ul li a {
  margin-left: 9px;
}

footer ul li a:last-child {
  margin-right: 16px;
}

footer ul li a.fa-facebook {
  color: #6782b8;
}

footer ul li a.fa-google-plus {
  color: #e86b53;
}

footer ul li a.fa-twitter {
  color: #71d6fa;
}

footer ul li a.fa-futbol-o {
  color: #fff;
}

footer ul li:nth-child(3) {
  font-size: 1.2em;
}

.hidden-xs {
  display: normal !important;
}

.visible-xs {
  padding: 20px 30px;
  display: none;
}
