
@media screen and (max-width: 991px) {
	body {
		font-size: 13px;
	}
	#banner .slider .slide h1 {
		font-size: 7em;
	}
	#banner .slider .slide p {
		position: absolute;
		font-size: 2.2em;
		width: 70%;
		right: 14%;
		line-height: 1.3em;
	}
	#choose .row .feature  {
		margin: 0 4px;
	}
	#about {
		text-align: center;
	}
	#about img {
		position: relative;
		left: 50%;
		margin-left: -195px;
		margin-top: 50px;
	}
	#get-in-touch #contacts {
		padding: 60px 4.5%
	}
	#get-in-touch #contacts form {
		padding-right: 0;
	}
	#contacts #adress {
		text-align: center;
		margin-top: 60px;
	}
			
}